body {
    color: #dadada
}

.location-list {
    padding: 4px;
}

.location {
    padding: 4px;
}

.dropdown {
    position: absolute;
    z-index: 999;
    background-color: #333;
    border-radius: 4px;
    width: 200px;
}

.dropdown ul {
    padding: 12px;
    margin: 0;
}

.dropdown ul li {
    text-decoration: none;
    list-style: none;
    padding: 5px;
}

.side {
    display: none;
}

.dropdown-button:hover .side {
    display: block;
}

.side:hover {
    display: block;
}

.dropdown ul li:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.location:hover, .location-name:hover {
    background-color: #555;
    cursor:pointer;
}

.location:active {
    background-color: #666;
}

tbody {
    background-color: #4e4e4e;
}

.item {
    opacity: 0.4;
}

.active {
    opacity: 1;
}

.form-control {
    border-radius: 0px;
    background: #1d1E26;
    border: none;
    margin-bottom: 4px;
    border-bottom: 1px solid #4e4e4e;
}

.progress {
    background-color: #333;
    height: 16px;
    margin-top: 4px;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(17, 100, 148), rgb(42, 139, 196));
}

.search-bar {
    background: #4e4e4e;
    color: #dadada;
    margin-bottom: 4px;
}

hr {
    background-color: #4e4e4e;
}

input#file-upload-button {
    background-color: #4e4e4e;
    color: #dadada;
}

.character_name {
    cursor: pointer;
}

.table-striped tr:nth-child(even) {
    background-color: #333;
}

thead {
    background-color: #222;
}

th {
    border: none;
    font-weight: bolder;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 20px;
}

*::-webkit-scrollbar-button {
    width: 5px;
    border-radius: 5px;
}

.toolbar-actions, .title {
    background-color: #1D1E26;
    color: #dadada;
    margin: 0;
    margin-top: 0!important;
    padding: 3px;
}

.toolbar-header {
    border: none;
}

.btn {
    background: none;
    background-color: #4e4e4e;
    border: none;
    color: #dadada;
    border-radius: 0;
}

.btn-dark {
    background: none;
}

input[type="button" i] {
    background-color: #4e4e4e;
}

.btn .icon {
    color: #dadada
}

.btn-group .btn+.btn {
    border: none
}

.pane-md, .sidebar {
    background-color: #1d1E26;
    overflow-y: auto;
    margin: 0;
    padding: 3px;
}

.pane {
    background-color: #373740;
    margin: 0;
    padding: 3px;
    border: none
}