body {
    color: #dadada
}

tbody {
    background-color: #4e4e4e;
}

.table-striped tr:nth-child(even) {
    background-color: #333;
}

thead {
    background-color: #222;
}

th {
    border: none;
    font-weight: bolder
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 20px;
}

*::-webkit-scrollbar-button {
    width: 5px;
    border-radius: 5px;
}

.toolbar-actions, .title {
    background-color: #1D1E26;
    color: #dadada;
    margin: 0;
    margin-top: 0!important;
    padding: 3px;
}

.toolbar-header {
    border: none;
}

.btn {
    background: none;
    background-color: #4e4e4e;
    border: none;
    color: #dadada;
    border-radius: 0;
}

.btn-dark {
    background: none;
}

input[type="button" i] {
    background-color: #4e4e4e;
}

.btn .icon {
    color: #dadada
}

.btn-group .btn+.btn {
    border: none
}

.pane-md, .sidebar {
    background-color: #1d1E26;
    overflow-y: auto;
    margin: 0;
    padding: 3px;
}

.pane {
    background-color: #373740;
    margin: 0;
    padding: 3px;
    border: none
}