.btn-group .btn+.btn {
    border: none
}

.btn-group-full-width {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.btn-group-full-width .btn {
    width: 100%;
}